.top-navbar {
  padding: 30px 32px;
}
.header-area {
  display: flex;
  justify-content:space-between;
}

/* 사이드 메뉴 */
.side-menu {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(7, 7, 7, 0.911);

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index:2
}
  
.side-menu-list li {
  list-style-type: none;
  margin-top: 20px;
  margin-left: 30px;
  border: none;
  width: 120px;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.exit-btn {
  margin-left: 170px;
}

.hide {
  visibility:hidden;
  font-size: 20px;
}

/* 싱단 검색 & 로그인 버튼  */
.search-login-area {
  align-items: center;
  cursor: pointer;
}

.search-icon {
  margin-right: 20px;
  font-size: 18px;
}

.search-icon:hover {
  transform: scale(1.1);
}

.search-login-area input[type="text"]{
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  height: 22px;
}

.search-login-area input:focus {
  outline: none;
}

.search-login-area {
  display: flex;
}

.user-icon {
  margin-right: 10px;
  font-size: 20px;
}

.user-icon:hover {
  transform: scale(1.1);
}

.login-text {
  display: inline-block;
  margin-right: 10px;
}

/* 로고 */
.Nav-section {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  cursor: pointer;
}

/* 상단 네브바 */
.menu-area {
  position: relative;
}

.menu-list {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  list-style: none;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.menu-list li:hover {
  transform: scale(1.05);
  color: rgb(100, 98, 98);
}

.menu-list li {
  margin: 0 15px; 
}

@media (max-width: 768px) {

  /* 검색 및 로그인영역 */
  .search-login-area {
    margin-bottom: 50px;
  }

  .search-login-area input {
    height: 20px;
  }

  .search-icon{
    margin-right: 30px;
  }

  .login-text {
    display: none;
  }

  .search-login-area{
    margin-right: 0;
  }

  /* 메뉴영역 */
  .menu-area{
    display: none;
  }
  .menu-list{
    font-size: 15px;
  }

  .menu-list li {
    padding: 8px 0;
  }

  .hide {
    visibility:visible;
  }

  .top-navbar{
    padding: 20px;
    width: 100%;
  }

  .header-area{
    width: 100%;
  }

}